.slide {
  width: 80%;
  height: 300px;
  border: 4px red;
  position: relative;
  border-radius: 2%;
  left: 100px;
}
.slider {
  background-color: aqua;
  width: 100%;
}
.numbertext {
  position: absolute;
  color: #060303;
  padding-left: 15px;
  padding-top: 20px;
}
.caption {
  position: absolute;
  color: cornflowerblue;
  top: 260px;
  left: 300px;
  background-color:beige ;
}
.slide{
  display: none;
}